
.header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between
}

.logo {
  display: flex;
  align-items: center;
}

.logo__name {
  text-transform: uppercase;
  font-size: 27px;
}

.logo__name span {
  color: $standardColor;
  font-weight: 900;
}

.header > * {
  height: inherit;
  display: flex;
  align-content: center;
}



.search {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  height: 38px;
  width: 402px;
  margin-left: 37px;
  display: flex;
  justify-content: flex-end;
}

.search__input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: 265px;
  color: #080808;
  padding-left: 15px
}

.search__button {
  outline: none;
  overflow: hidden;
  border: none;
  background-color: #ffffff;
  width :35px;
  transition-duration: 0.3s;
  &:active.search__button > i {
    color: #838383;
  
  }

}

.search__button:hover {
  background-color: #f8f8f8;
}

.search__browse {
  width: 87px;
  height: 38px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.my-account {
  width: 130px;
  height: 38px;
  background-color: $standardColor;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition-duration: 0.3s;
  &:hover{

    background-color: darken($color: $standardColor, $amount: 5)

  }
  &:active{
    
    background-color: lighten($color: $standardColor, $amount: 5)

  }
  
}



.search__browse > i {
  color: #838383;
}

.search__browse:hover {
  background-color: #e8e8e8
}

.search__button > i {
  color: #b1b1b1;
}

.header__left {
  display: flex;
  justify-content: flex-end;
}

#size__batton--myAccount {
  /*добавить letter-spacing:*/
  color: #ffffff;
}

.cart {
  margin: 6px 26px 0px 0px;
}

.header-line {
  border-bottom: 1px solid #ececec;
}

.top-nav {
  min-height: 51px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.top-nav > .menu-list {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 0px
}

.menu-link:hover {
  border-bottom: 2px solid black;
}

.menu-link {
  transition-duration: 0.1s;
}

.menu-link:active {
  border-bottom: 2px solid $standardColor;
}

.top-nav > .menu-list .menu-link {
  text-transform: uppercase;
}

.top-nav > .menu-list .menu-item:not(:last-child) {
  margin-right: 48px;
}